<%- include("header") -%>

<h1>Daten anpassen</h1>

<form action=/anpassen method="POST">

<label for="vorname">Vorname</label><br>
<input type="text" id="vorname" name="vorname"><br><br>

<label for="nachname">Nachname</label><br>
<input type="text" id="nachname" name="nachname"><br><br>

<label for="ortsname">Wohnort</label><br>
<input type="text" id="ortsname" name="ortsname"><br><br>

<label for="plz">Postleitzahl</label><br>
<input type="text" id="plz" name="plz"><br><br>

<label for="strasse">Straße</label><br>
<input type="text" id="strasse" name="strasse"><br><br>

<label for="hausnr">Hausnummer</label><br>
<input type="text" id="hausnr" name="hausnr"><br><br>

<label for="telefon">Telefonnummer</label><br>
<input type="text" id="telefon" name="telefon"><br><br>

<input type="submit" class="btn btn-primary" style="margin: 2px" value="Ändern"><br><br>
</form>

<%- include("footer") -%>