<%- include("header") -%>

<h1 class="headline">Neue Einkaufsliste</h1>

<form action=/aufgeben name="eingabe" method="POST">

    <div class="produkte" id="felder">
    <b><label for="Bezeichnung">Produkt</label><br></b>
    <input type="text" name="bezeichnung" required><br><br>
    
    </b><label for="marke">Marke</label><br>
    <input type="text" name="marke"><br><br>
    
    <label for="menge">Menge</label><br>
    <input type="number" name="menge"><br><br>
    
    <label for="kilogramm">Kilogramm</label><br>
    <input type="number" name="kilogramm"><br><br>
    
    <label for="liter">Liter</label><br>
    <input type="number" name="liter"><br><br></div>
    
    <div class="produkte" id="platzhalter1"></div>

    <div class="produkte">
    <input type="button" style="width: 92px; height:34px;" class="btn btn-primary btn-sm" onclick="addProduct()" value="+"></input>
    <input type="button" style="width: 92px; height:34px;" class="btn btn-primary btn-sm" onclick="removeProduct()" value="↺"></input><br>
    <input type="submit" style="margin-top: 3px;  height:33px; width: 92px;" class="btn btn-primary btn-sm" value="✔"></input>
    <input type="button" style="margin-top: 3px;  height:33px; width: 92px;" class="btn btn-primary btn-sm" onclick="resetAll()" value="✖"></input>
    </form></div>

    <script>
        let count = 1;
        let felder = document.getElementById("felder");
        let kopie;

        function addProduct(){
            if(count <= 0){
                count = 1;
            }
            let platzhalterCurrent = "platzhalter"+count;
            let platzhalterNext = "<div id=\""+"platzhalter"+(count+1)+"\"></div>";
            kopie = felder.innerHTML + platzhalterNext;
            document.getElementById(platzhalterCurrent).innerHTML = kopie;
            count++;
        }

        function removeProduct(){
            count--;
            let s = "platzhalter"+count;
            document.getElementById(s).innerHTML = "";
        }

        function resetAll(){
            while(count>1){
            removeProduct();
            }
            for(let i = 0; i < 5; i++){
                document.getElementsByTagName("input")[i].value = "";
            }
             document.body.scrollTop = 0; // Für Safari
             document.documentElement.scrollTop = 0; // Für Chrome, Firefox, IE und Opera
        }
    </script>

<%- include("footer") -%>