<footer>
</footer>

    </div>

    <style>
    .headline {
        margin-left: 102px;
    }

    @media (max-width : 430px) {

       .headline{
        margin-left: 1px;
        text-align: left;
       }
}

/* No arrows on number input fields - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* No arrows on number input fields - Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>

    <script>    
    let x = document.getElementsByTagName("h1")[0].textContent;
    if(x === "Login" || x == "Registrieren"){
     document.getElementsByTagName("form")[0].style.display = "none";
     document.getElementsByTagName("form")[1].style.display = "none";
     document.getElementsByTagName("form")[2].style.display = "none";
    }
    </script>

</body>
</html>