<footer>
</footer>

    <script>     
    let x = document.getElementsByTagName("h1")[0].textContent;
    if(x === "Login" || x == "Registrieren"){
    document.getElementById("logoutButton").style.display = "none";
    }
    </script>

</body>
</html>