<%- include("header") -%>

<h1>Neue Gemeinschaft gründen</h1>

<form action=/grunden method="POST">

<label for="bezeichnung">Bezeichnung</label><br>
<input type="text" name="bezeichnung" required><br><br>

<label for="ortsname">Ortsname</label><br>
<input type="text" name="ortsname" required><br><br>

<label for="plz">Postleitzahl</label><br>
<input type="text" name="plz"><br><br>

<label for="strasse">Straße</label><br>
<input type="text" name="strasse"><br><br>

<label for="hausnr">Hausnummer</label><br>
<input type="text" name="hausnr"><br><br>

<input type="submit" class="btn btn-primary" value="Gründen">
</form>


<%- include("footer") -%>