<%- include("header") -%>

<h1>Neue Gemeinschaft gründen</h1>

<form action=/grunden method="POST">

<label for="bezeichnung">Bezeichnung</label>
<input type="text" id="bezeichnung" name="bezeichnung" required><br><br>

<label for="ortsname">Ortsname</label>
<input type="text" id="ortsname" name="ortsname" required><br><br>

<label for="plz">Postleitzahl</label>
<input type="text" id="plz" name="plz"><br><br>

<label for="strasse">Straße</label>
<input type="text" id="strasse" name="strasse"><br><br>

<label for="hausnr">Hausnummer</label>
<input type="text" id="hausnr" name="hausnr"><br><br>

<input type="submit" value="Gründen">
</form>


<%- include("footer") -%>