<%- include("header") -%>


<h1 >Login</h1>

<form action=/login method="POST">
<label for="nutzername">Nutzername</label><br>
<input type="text" id="nutzername" name="nutzername" required><br><br>

<label for="passwort">Passwort</label><br>
<input type="password" id="passwort" name="passwort" required><br><br>

<input type="submit" class="btn btn-primary" style="margin: 2px" value="Anmelden"><br><br>
</form>

<a href="/register">Noch kein Account? Hier registrieren</a><br>

<style>
    * {
      margin: auto;
      padding: 5px;
    
      
    }
    </style>



<%- include("footer") -%>