<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menü</title>
</head>
<body>

<h1>Webapp für Nachbarschaftshilfe</h1>

  <form action="einkaufen"><input type="submit" value="Einkaufen"/></form>
  <form action="empfangen"><input type="submit" value="Empfangen"/></form>
  <form action="ansehen"><input type="submit" value="Gemeinschaft ansehen"/></form>
  <form action="grunden"><input type="submit" value="Gemeinschaft gründen"/></form>

</body>
</html>