<%- include("header") -%>

<h1>RWU Men端</h1>

    <form action="einkaufen"><input class="btn btn-primary" style="margin-top: 2.5px" type="submit" value="Einkaufsliste ansehen"/></form>
    <form action="empfangen"><input class="btn btn-primary" style="margin-top: 2.5px" type="submit" value="Einkaufsliste aufgeben"/></form>
    <form action="gemeinden"><input class="btn btn-primary" style="margin-top: 2.5px" type="submit" value="Gemeinschaft ansehen"/></form>
    <form action="grunden"><input class="btn btn-primary" style="margin-top: 2.5px" type="submit" value="Gemeinschaft gr端nden"/></form>

    <script>
    document.body.scrollTop = 0; // F端r Safari
    document.documentElement.scrollTop = 0; // F端r Chrome, Firefox, IE und Opera
    </script>

<%- include("footer") -%>