<%- include("header") -%>

<h1 class="headline">Projekt der RWU 2021</h1>

    <form action="einkaufen"><input class="btn btn-primary" style="margin-top: 3.5px; width: 190px;" type="submit" value="Einkaufsliste ansehen"/></form>
    <form action="empfangen"><input class="btn btn-primary" style="margin-top: 3.5px; width: 190px;" type="submit" value="Einkaufsliste aufgeben"/></form>
    <form action="gemeinden"><input class="btn btn-primary" style="margin-top: 3.5px; width: 190px;" type="submit" value="Gemeinschaft ansehen"/></form>
    <form action="grunden"><input class="btn btn-primary" style="margin-top: 3.5px; width: 190px;" type="submit" value="Gemeinschaft gründen"/></form>

    <script>
    document.body.scrollTop = 0; // Für Safari
    document.documentElement.scrollTop = 0; // Für Chrome, Firefox, IE und Opera
    </script>

    

<%- include("footer") -%>