<%- include("header") -%>

<h1>RWU Nachbarschaftshilfe</h1>

    <form action="einkaufen"><input type="submit" value="Einkaufsliste ansehen"/></form>
    <form action="empfangen"><input type="submit" value="Einkaufsliste aufgeben"/></form>
    <form action="gemeinden"><input type="submit" value="Gemeinschaft ansehen"/></form>
    <form action="grunden"><input type="submit" value="Gemeinschaft gründen"/></form>

<%- include("footer") -%>